body,h1,h2,h3,h4,h5,h6,li,p,ul{margin:0;padding:0}
a{color:#333;text-decoration:none;cursor:pointer}
a:focus,a:hover{color:#3db45e}
a,button,input,p,span{transition:all .3s}
h1,h2,h3,h4,h5,h6{font-weight:400}
li,ul{list-style:none}
button,input,textarea{outline:0;background:0 0;border:1px solid #999}
button{cursor:pointer}
table{border-collapse:collapse}
td,th{border:1px solid #999}
html{font-size:16px}
html,textarea,textarea::placeholder{font-family:Arial}
@media only screen and (max-width:1366px){
html{font-size:14px}
}
@media only screen and (max-width:768px){
html{font-size:12px}
}
.container{padding:0 15px;max-width:1200px;margin:0 auto}
.flex{display:flex}
.flex-c{display:flex;flex-direction:column}
.jc-sb{justify-content:space-between}
.jc-fe{justify-content:flex-end}
.jc-c{justify-content:center}
.jc-sa{justify-content:space-around}
.ai-c{align-items:center}
.ai-fs{align-items:flex-start}
.flex-w{flex-wrap:wrap}
.maxline-2{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical}
.icon{background-image:url(../img/icon-sprite.png);display:inline-block;position:relative}
.icon-play{width:96px;height:96px;background-position:0 0}
.icon-rocket{width:44px;height:56px;background-position:-96px 0}
.icon-plus{width:50px;height:50px;background-position:-192px 0}
.icon-reward{width:52px;height:53px;background-position:-140px 0}
.icon-reward-1{width:42px;height:48px;background-position:-242px 0}
.icon-bag{width:52px;height:46px;background-position:-284px 0}
.icon-contact1{width:27px;height:32px;background-position:-166px -56px}
.icon-contact2{width:37px;height:38px;background-position:-404px 0}
.icon-contact3{width:34px;height:28px;background-position:-193px -56px}
.icon-location{width:15px;height:23px;background-position:-577px 0}
.icon-plane{width:25px;height:23px;background-position:-227px -56px}
.icon-phone{width:17px;height:20px;background-position:-252px -56px}
.icon-clock{width:20px;height:20px;background-position:-269px -56px}
.icon-search{width:19px;height:19px;background-position:-289px -56px}
.icon-search-w{width:19px;height:19px;background-position:-308px -56px}
.icon-date{width:21px;height:19px;background-position:-327px -56px}
.icon-google{width:11px;height:17px;background-position:-348px -56px}
.icon-facebook{width:8px;height:16px;background-position:-592px 0}
.icon-download{width:20px;height:16px;background-position:-359px -56px}
.icon-twitter{width:21px;height:16px;background-position:-379px -56px}
.icon-linkedin{width:15px;height:15px;background-position:-400px -56px}
.icon-share{width:16px;height:15px;background-position:-415px -56px}
.icon-vimeo{width:15px;height:14px;background-position:-431px -56px}
.icon-tag{width:17px;height:14px;background-position:-446px -56px}
.icon-arrow-g{width:8px;height:12px;background-position:-577px -23px}
.icon-arrow-w{width:8px;height:12px;background-position:-585px -23px}
.icon-arrow-green{width:8px;height:12px;background-position:-463px -56px}
.icon-envelope{width:18px;height:12px;background-position:-471px -56px}
.icon-long-arrow{width:14px;height:11px;background-position:-489px -56px}
.icon-long-arrow-w{width:14px;height:11px;background-position:-503px -56px}
.icon-sub-g{width:15px;height:3px;background-position:-336px -38px}
.icon-sub{width:15px;height:3px;background-position:-351px -38px}
.icon-about1-g{width:34px;height:38px;background-position:-336px 0}
.icon-about2-g{width:38px;height:36px;background-position:-501px 0}
.icon-about3-g{width:30px;height:37px;background-position:-441px 0}
.icon-about4-g{width:35px;height:35px;background-position:-96px -56px}
.icon-about1-w{width:34px;height:38px;background-position:-370px 0}
.icon-about2-w{width:38px;height:36px;background-position:-539px 0}
.icon-about3-w{width:30px;height:37px;background-position:-471px 0}
.icon-about4-w{width:35px;height:35px;background-position:-131px -56px}

.hover-about1-w:hover .icon-about1-g,li.active .hover-about1-w .icon-about1-g{background-position:-370px 0}
.hover-about2-w:hover .icon-about2-g,li.active .hover-about2-w .icon-about2-g{background-position:-539px 0}
.hover-about3-w:hover .icon-about3-g,li.active .hover-about3-w .icon-about3-g{background-position:-471px 0}
.hover-about4-w:hover .icon-about4-g,li.active .hover-about4-w .icon-about4-g{background-position:-131px -56px}
.hover-sub-g:hover .icon-sub{background-position:-336px -38px}
.hover-arrow-w:hover .icon-arrow-g{background-position:-585px -23px}
.hover-long-arrow-w:hover .icon-long-arrow{background-position:-503px -56px}
header{position:relative;z-index:100;box-shadow:0 0 5px #b3b3b3}
.top-nav li{position:relative}
.top-nav a{font-size:.9375rem;line-height:32px;color:#444;padding:33px 23px;display:block;position:relative;z-index:5;text-transform:uppercase;white-space:nowrap}
.top-nav a:hover{color:#fff}
.top-nav li::after{position:absolute;content:"";display:block;top:0;left:0;width:100%;height:100%;background:#3db45e;opacity:0;transition:all .3s}
.top-nav li:hover::after{opacity:1}
.top-nav .submenu{position:absolute;background:#fff;z-index:5;display:none}
.top-nav li:hover .submenu{display:block}
.top-nav .submenu a{padding:10px 20px;text-transform:unset}
.top-nav .submenu li::after{padding:0}
.top-search{padding:0 20px}
.top-search-box{width:0;overflow:hidden;transition:all .3s}
.top-search-box.active{width:150px;border:1px solid #777}
.top-search-box button,.top-search-box input{height:30px;box-sizing:border-box;border:0}
.top-search-box input{width:120px;color:#444;padding:0 10px}
.top-search-box button{width:30px}
.top-search-btn{border:0}
.top-search-btn .icon.active{background:0 0;transition:all .3s}
.top-search-btn .icon::after,.top-search-btn .icon::before{position:absolute;content:"";display:block;width:100%;left:0;height:3px;background:#444;transition:all .3s;opacity:0}
.top-search-btn .icon::before{top:100%}
.top-search-btn .icon::after{top:0}
.top-search-btn .icon.active::before{top:50%;transform:translateY(-50%) rotate(135deg);opacity:1}
.top-search-btn .icon.active::after{top:50%;transform:translateY(-50%) rotate(-135deg);opacity:1}
.shownav-btn{display:none}
footer{background:url(../img/footer-back.jpg) no-repeat center;background-size:cover}
.footer-main-title{padding-bottom:25px;color:#fff;font-size:1.75rem}
.footer-question{padding-bottom:30px;padding-top:80px;border-bottom:1px solid #454545}
.footer-question p{font-size:26px;color:#fff}
.footer-question button{background:#3db45e;color:#fff;padding:20px 23px;border:0;font-size:16px;text-transform:uppercase}
.footer-main{padding-top:80px;padding-bottom:50px}
.footer-intro-box{width:300px}
.footer-intro-text{color:#e4e6e8;font-size:1rem;line-height:1.875;padding-bottom:20px}
.send-box{height:55px}
.send-box input{border:0;background:#fff;width:240px;box-sizing:border-box;padding:0 20px;font-size:1.0625rem}
.send-box button{border:0;width:60px;background:#3db45e}
.footer-nav li{margin-bottom:20px}
.footer-nav a{color:#e4e6e8;margin-left:13px}
.footer-address{width:300px}
.footer-address li{margin-bottom:25px}
.footer-address a{display:block;color:#e4e6e8;font-size:1.0625rem;line-height:1.65}
.footer-address .icon-box{flex:0 0 auto;width:37px;height:28px;display:flex;align-items:center}
.copyright{background:#010101;padding:22px 0}
.copyright p{color:#696969;font-size:15px}
.footer-social li{margin-left:15px}
.footer-social li a{display:block;height:37px;width:37px;border-radius:50%;border:1px solid #838383;line-height:37px;text-align:center}
.footer-social li a:hover{background:#3db45e}
@media only screen and (max-width:1366px){
.top-nav a{padding:20px 10px}
}
@media only screen and (max-width:768px){
header{padding:18px 0}
.top-nav a{padding:20px 10px}
.top-nav-box{position:absolute;bottom:0;width:100%;left:0}
.top-nav{position:absolute;width:0%;background:rgba(255,255,255,.83);display:block;top:0;transition:all .3s;right:0;opacity:0;overflow:hidden}
.top-nav-box.active .top-nav{width:100%;opacity:1}
.top-nav .submenu{display:none!important}
.top-nav li::after{padding:0}
.top-search{display:none}
.shownav-btn{display:block;height:20px;position:absolute;top:50%;right:15px;width:30px;transform:translateY(-50%);cursor:pointer}
.shownav-btn .icon-bars,.shownav-btn::after,.shownav-btn::before{position:absolute;width:100%;height:3px;background:#444;transition:all .3s}
.shownav-btn .icon-bars{top:50%}
.shownav-btn::before{top:0;content:""}
.shownav-btn::after{top:100%;content:""}
.shownav-btn.active::before{top:50%;transform:translateY(-50%) rotate(135deg)}
.shownav-btn.active::after{top:50%;transform:translateY(-50%) rotate(-135deg)}
.shownav-btn.active .icon-bars{opacity:0}
.footer-main .container{flex-direction:column;align-items:center}
.footer-question button{flex:0 0 auto;white-space:nowrap;padding:15px 12px}
.footer-intro-box,.footer-nav{width:100%;margin-bottom:20px}
.send-box input{width:100%}
.send-box button{flex:0 0 auto}
.footer-nav ul{display:flex;flex-wrap:wrap}
.footer-nav li{margin:10px}
.footer-address{width:100%}
.footer-address .icon-box{height:21px}
}