.inner-nav-box{border-bottom:1px solid #eaeaea}
.inner-nav{padding-top:1.5rem;padding-bottom:1rem}
.inner-nav-list a{font-size:.9375rem;color:#8a8a8a}
.inner-nav-list i{margin:0 10px}
.inner-nav-list a:hover{color:#3db45e}
.contact-us{width:34%;margin-right:2%}
.contact-us img{max-width:100%}
.contact-main{padding-top:5.125rem;padding-bottom:5.125rem}
.topbar-title{font-size:1.5rem;color:#373737;font-weight:700;text-transform:uppercase;line-height:.958;position:relative;padding:1.6875rem 0;margin-bottom:2rem}
.topbar-title::after{display:block;content:"";display:block;background-color:#3db45e;position:absolute;left:0;top:0;width:34px;height:3px}
.contact-list{margin-top:3.4375rem}
.contact-list li{margin-bottom:2.5rem}
.contact-list .icon-box{width:40px;margin-right:1.25rem}
.contact-text p{font-size:1.25rem;color:#373737;margin-bottom:.75rem}
.contact-text a{font-size:1rem;color:#676767}
.feedbackForm{width:64%}
#feedbackForm td{border:0}
#feedbackForm tbody{display:flex;flex-wrap:wrap}
#feedbackForm tr{font-size:.9375rem;width:100%;color:#3c3c3c;display:flex;flex-direction:column;margin-bottom:1.875rem}
#feedbackForm .lable{margin-bottom:.625rem}
#feedbackForm #SubmitContent,#feedbackForm input{border:0;font-size:.9375rem;color:#000;padding-left:.9375rem;width:100%;height:3.0625rem;background:#f5f6f6}
#feedbackForm #SubmitContent{width:100%;height:16.25rem;padding:.9375rem;box-sizing:border-box}
#feedbackForm .submita{background:#3db45e;color:#fff;padding:1.125rem 4.75rem;border:0;font-size:1rem;text-transform:uppercase}
@media only screen and (max-width:768px){
.contact-main{flex-direction:column}
.contact-us{width:100%;margin-right:0;margin-bottom:5rem}
.feedbackForm{width:100%}
}