blockquote,body,button,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
body{background:#fff;color:#555;font-family:Verdana,Arial,Helvetica,sans-serif}
h1,h2,h3,h4,h5,h6{font-weight:400;font-size:1rem}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:400}
a{color:#555;text-decoration:none}
a:hover{text-decoration:none}
img{border:none}
li,ol,ul{list-style:none}
button,input,select,textarea{font:1rem Verdana,Helvetica,Arial,sans-serif}
table{border-collapse:collapse}
html{font-size:16px}
.container{max-width:1200px;padding:0 15px;margin:0 auto}
.flex{display:flex}
html{background:#f4f4f4}
body{max-width:640px;margin:0 auto;background:#fff;min-height:100vh}
/*! header */
.m-header{position:relative;display:flex;align-items:center;justify-content:center;border-bottom:1px solid #f0f0f0;padding:5px 0}
.menu-bars{position:absolute;height:20px;width:25px;right:15px;display:block}
.menu-bars i,.menu-bars::after,.menu-bars::before{position:absolute;left:0;width:100%;background:#333;content:"";display:block;height:1px;transition:all .3s}
.menu-bars::before{top:0}
.menu-bars::after{bottom:0}
.menu-bars i{top:50%}
.header-logo{display:flex;align-items:center;justify-content:center}
.header-logo img{height:50px}
.menu-bars.active::before{transform:translateY(10px) rotate(135deg)}
.menu-bars.active::after{transform:translateY(-10px) rotate(-135deg)}
.menu-bars.active i{opacity:0}
.header-menu{top:61px;left:0;width:100vw;height:calc(100vh - 61px);position:fixed;opacity:0;z-index:-5;transition:all .3s}
.header-menu.active{opacity:1;z-index:100}
.pull-right{float:right}
.c3{color:#ff6060}
.b1{background:#ff6060}
.text-center{text-align:center}
.border-1px{position:relative}
.border-1px:before{content:"";pointer-events:none;box-sizing:border-box;position:absolute;width:200%;height:200%;left:0;top:0;border-radius:6.4px;border:1px solid #ff6060;-webkit-transform:scale(.5);-webkit-transform-origin:0 0;transform:scale(.5);transform-origin:0 0}
.user-wrap{aposition:absolute;background:#fff;left:0;right:0;padding-bottom:105px;width:100%;box-sizing:border-box}
.user-wrap .information{font-size:12.8px;padding:18px 18px 8px 18px;box-sizing:border-box}
.user-face-wrap{position:relative;padding:16px 0 32px}
.navbar-nav-ul{display:inline-block;width:100%;vertical-align:top;padding:8px 18px;box-sizing:border-box}
.navbar-nav-ul li{position:relative;width:33.33%;float:left;font-size:12.8px;height:32px;line-height:32px;text-align:left}
.navbar-nav-ul li:nth-child(3n-1),.subclass-ul li:nth-child(3n-1){text-align:center}
.navbar-nav-ul li:nth-child(3n),.subclass-ul li:nth-child(3n){text-align:right}
.subclass-ul{display:inline-block;border-bottom:1px solid #f0f0f0;width:100%;padding:0 18.4px 12px;color:#666;font-size:9.6px;vertical-align:top;box-sizing:border-box}
.subclass-ul li{float:left;width:33.33%;height:24px;line-height:24px;text-align:left}
.subclass-ul li a{color:#666}
.login-link{display:inline-block;width:120px;height:32px;line-height:32px;text-align:center;font-size:13.6px;margin-top:4px;border-radius:2.4px}
.login-link:nth-child(2){margin-left:16px;color:#fff}
.icon{display:inline-block;vertical-align:text-bottom;width:15px;height:16px;cursor:pointer;background-size:250px 300px}
.nums-nav{position:absolute;top:7.2px;font-style:normal;color:#fff;background-color:#f63756;border-radius:50px;width:6px;height:6px;padding:0;left:22.4px;z-index:10;display:block}
.vip-nav-content{border-top:1px solid #f0f0f0;border-bottom:1px solid #f0f0f0;padding:16px 20px 16px 20px}
/*! footer */
.m-layout-footer{background:#222;padding:21px 12px;color:#fff;font-size:14px}
.m-layout-footer .entry{display:flex;justify-content:center}
.m-layout-footer .entry a{padding:0 12px;color:#fff}
.m-layout-footer .entry li{display:flex;align-items:center}
.m-layout-footer .entry li:after{content:"";width:1px;height:12px;background:hsla(0,0%,100%,.2)}
.m-layout-footer .entry li:last-child:after{display:none}
.m-layout-footer .friend-links{margin-top:9px;display:flex;-ms-flex-pack:center;justify-content:center;padding-bottom:21px;border-bottom:1px solid #6c6e76}
.m-layout-footer .friend-links ul{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
.m-layout-footer .friend-links ul li{margin-left:5.12px}
.m-layout-footer .copyright{text-align:center;line-height:1.5;padding-top:12px;font-size:10px}
.m-layout-footer .copyright ul{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;margin-top:6.8267px}
.m-layout-footer .copyright ul img{height:21px;margin:0 6px;object-fit:contain}
/*! bottom fixed */
@font-face{font-family:webfont;font-weight:400;font-style:normal;src:url(//at.alicdn.com/t/font_185991_aqj30boayp.eot);src:url(//at.alicdn.com/t/font_185991_aqj30boayp.eot?#iefix) format("eot"),url(//at.alicdn.com/t/font_185991_aqj30boayp.svg#webfont) format("svg"),url(//at.alicdn.com/t/font_185991_aqj30boayp.woff) format("woff"),url(//at.alicdn.com/t/font_185991_aqj30boayp.ttf) format("truetype")}
.icon-bbs-on:before,.icon-bbs:before,.icon-credit-on:before,.icon-credit:before,.icon-footerdown:before,.icon-footerup:before,.icon-home-on:before,.icon-home:before,.icon-info:before,.icon-loan-on:before,.icon-loan:before,.icon-zixun-on:before{display:inline-block;font-family:webfont;font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-home:before{content:""}
.icon-bbs:before{content:""}
.icon-credit:before{content:""}
.icon-loan:before{content:""}
.icon-info:before{content:""}
.bottom-nav{background-color:#fff;position:fixed;bottom:0;left:0;z-index:100;height:59px;width:100%;display:flex;border-top:1px solid #e9e9e9}
.bottom-nav li{height:100%;width:20%;text-align:center}
.bottom-nav li a{color:#a9a9a9;font-size:3.2px;margin-top:9px;display:inline-block}
.bottom-nav li a:before{width:100%;display:inline-block;font-size:21px;margin-bottom:6px}