.inner-nav-box{border-bottom:1px solid #eaeaea}
.inner-nav{padding-top:1.5rem;padding-bottom:1rem}
.inner-nav-list a{font-size:.9375rem;color:#8a8a8a}
.inner-nav-list i{margin:0 10px}
.inner-nav-list a:hover{color:#3db45e}
.news-main{margin-top:4.17%}
.news-detail-img{width:calc(100% - 20px);margin:0 auto}
.news-detail-img img{width:100%}
.news-title{font-size:1.8125rem;padding:1.5% 0;border-bottom:1px solid #e1e1e1;margin-bottom:3.3%}
.news-content{font-size:.9375rem;line-height:1.86;color:#626262}
.news-content p{margin-bottom:3.3%}
.date-share{padding:3.125rem 0}
.date-share .date i{margin-right:8px}
.news-date{font-size:.9375rem;color:#373737;line-height:2.133}
.prenext-news{border-top:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;text-transform:uppercase}
.prenext-news li{width:50%;padding:2.5rem 0}
.prenext-news li p{font-size:.9375rem;color:#373737;font-weight:700;line-height:1.533}
.prenext-news li a{font-size:.875rem;color:#3db45e;margin-top:1.5625rem}
.prenext-news li:nth-child(1){border-right:1px solid #e1e1e1;padding-right:10%}
.prenext-news li:nth-child(1) i{transform:rotate(180deg);margin-right:10px}
.prenext-news li:nth-child(2){padding-left:10%;text-align:right}
.prenext-news li:nth-child(2) i{margin-left:10px}
.news-list{margin-top:3.75rem;margin-bottom:5.5625rem}
.news-list li{width:45%;margin-bottom:1.875rem}
.news-list a{font-size:1rem;color:#373737;line-height:1.438;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:90%;display:block}
.news-list a i{margin-right:10px;flex:0 0 auto;margin-bottom:4px}
.news-list a:hover{color:#3db45e}
.feedbackForm{margin-bottom:3.125rem}
.feed-title{font-size:1.875rem;color:#2c2c2c;margin-top:2.5rem;margin-bottom:1.25rem;font-weight:600;text-transform:uppercase}
#feedbackForm td{border:0}
#feedbackForm tbody{display:flex;flex-wrap:wrap}
#feedbackForm tr{border:1px solid #d9d9d9;border-radius:2px;box-sizing:border-box;margin-bottom:22px;padding:18px;font-size:.9375rem;color:#727272}
#feedbackForm tr:nth-child(-n+3){width:32.5%;margin-right:1.25%}
#feedbackForm tr:nth-child(3){margin-right:0}
#feedbackForm tr:nth-child(4){width:49.375%;margin-right:1.25%}
#feedbackForm tr:nth-child(5){width:49.375%}
#feedbackForm tr:nth-child(6){width:100%;display:flex;flex-direction:column}
#feedbackForm tr:nth-child(7){border:0;padding:0}
#feedbackForm #SubmitContent,#feedbackForm input{border:0;font-size:.9375rem;color:#000;padding-left:5px}
#feedbackForm #SubmitContent{width:100%;margin-top:10px;padding-left:0;box-sizing:border-box}
#feedbackForm .submita{background:#3db45e;color:#fff;padding:1.125rem 4.75rem;border:0;font-size:1rem;text-transform:uppercase}