.inner-nav-box{border-bottom:1px solid #eaeaea}
.inner-nav{padding-top:1.5rem;padding-bottom:1rem}
.inner-nav-list a{font-size:.9375rem;color:#8a8a8a}
.inner-nav-list i{margin:0 10px}
.inner-nav-list a:hover{color:#3db45e}
.product-dtail{padding:3.75rem 0}
.product-img{margin-right:4.1875rem;flex:0 0 auto}
.product-name{font-size:2rem;color:#212121;font-weight:700;padding:1.875rem 0}
.product-text{font-size:1rem;color:#595959;line-height:1.875}
.product-btn{margin-top:auto}
.product-btn a{border-radius:2px;background:#eee;color:#666;display:inline-block;margin-right:.875rem;padding:1.0625rem 3.5625rem;text-transform:uppercase;margin-bottom:1.25rem}
.product-btn a:hover{color:#fff;background:#3db45e}
.product-btn a i{margin-right:1.3125rem}
.p-hottags,.p-share{border-top:1px solid #ddd;border-bottom:1px solid #ddd;padding:1.25rem 0}
.p-share{border-top:0}
.lab{color:#333;font-size:.8125rem}
.lab i{margin-right:.75rem}
.tags{color:#515151;font-size:.8125rem}
.products-detail-panel{display:none}
.products-detail-panel.active{display:block}
.products-detail-switch li{white-space:nowrap;font-size:1.1875rem;color:#222;padding:1.3125rem 1.5rem;border-top:1px solid #e3e3e3;border-right:1px solid #e3e3e3;text-transform:uppercase;position:relative;box-sizing:border-box;background:#eee;transition:all .3s;cursor:pointer}
.products-detail-switch li:nth-child(1){border-left:1px solid #e3e3e3}
.products-detail-switch li::after{transition:all .3s;width:100%;height:4px;content:"";display:block;top:0;left:0;position:absolute;background:0 0}
.products-detail-switch li.active::after{background:#3db45e}
.products-detail-switch li.active{background:#fff}
.products-detail-panel-box{border:1px solid #e3e3e3}
.products-detail-panel{padding:4.17% 1.67%}
.products-detail-panel p{font-size:1rem;color:grey;line-height:2;margin-bottom:4%}
.feedbackForm{margin-bottom:3.25rem}
.feed-title{font-size:1.875rem;color:#2c2c2c;margin-top:2.5rem;margin-bottom:1.25rem;font-weight:600;text-transform:uppercase}
#feedbackForm td{border:0}
#feedbackForm tbody{display:flex;flex-wrap:wrap}
#feedbackForm tr{border:1px solid #d9d9d9;border-radius:2px;box-sizing:border-box;margin-bottom:22px;padding:18px;font-size:.9375rem;color:#727272}
#feedbackForm tr:nth-child(-n+3){width:32.5%;margin-right:1.25%}
#feedbackForm tr:nth-child(3){margin-right:0}
#feedbackForm tr:nth-child(4){width:49.375%;margin-right:1.25%}
#feedbackForm tr:nth-child(5){width:49.375%}
#feedbackForm tr:nth-child(6){width:100%;display:flex;flex-direction:column}
#feedbackForm tr:nth-child(7){border:0;padding:0}
#feedbackForm #SubmitContent,#feedbackForm input{border:0;font-size:.9375rem;color:#000;padding-left:5px}
#feedbackForm #SubmitContent{width:100%;margin-top:10px;padding-left:0;box-sizing:border-box}
#feedbackForm .submita{background:#3db45e;color:#fff;padding:1.125rem 4.75rem;border:0;font-size:1rem;text-transform:uppercase}
.prenext-products{margin-bottom:10%}
.prenext-news{border-top:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;text-transform:uppercase}
.prenext-news li{width:50%;padding:2.5rem 0}
.prenext-news li p{font-size:.9375rem;color:#373737;font-weight:700;line-height:1.533}
.prenext-news li a{font-size:.875rem;color:#3db45e;margin-top:1.5625rem}
.prenext-news li:nth-child(1){border-right:1px solid #e1e1e1;padding-right:10%}
.prenext-news li:nth-child(1) i{transform:rotate(180deg);margin-right:10px}
.prenext-news li:nth-child(2){padding-left:10%;text-align:right}
.prenext-news li:nth-child(2) i{margin-left:10px}
.rec-products{margin-bottom:10%}
.rec-products li{width:15.4%;margin-right:1.52%;position:relative;padding-bottom:calc(15.4% + 50px);margin-bottom:2%}
.rec-products li:nth-child(6n+6){margin-right:0}
.rec-products li a{width:100%;height:100%;top:0;left:0;position:absolute}
.rec-products li a img{width:100%;height:calc(100% - 50px);object-fit:cover}
.rec-product-name{flex:0 0 auto;height:50px;padding:0 6%;transition:all .3s}
.rec-product-name p{font-size:.8125rem;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;font-weight:600;color:#434343}
.rec-product-name i{flex:0 0 auto}
.rec-products li:hover .rec-product-name{background:#3db45e}
.rec-products li:hover p{color:#fff}
@media only screen and (max-width:768px){
.product-dtail{flex-direction:column}
.product-img{margin-right:0}
.product-intro{margin-top:5%}
.product-text{margin-bottom:5%}
#feedbackForm tr:nth-child(n){width:100%;margin-right:0}
.rec-products li{width:32%;margin-right:2%;padding-bottom:calc(32% + 50px)}
.rec-products li:nth-child(3n+3){margin-right:0}
}