<div class="footer-linkPart">
    <div class="container">
        <h3 class="title">友情链接</h3>
        <ul class="blue-link-box">
            <li><a href="http://pm265.com" target="_blank">PM265</a></li>
            <li><a href="http://dh.woshipm.com" target="_blank">阿猫阿狗导航</a></li>
            <li><a href="http://www.qidianla.com/" target="_blank">起点学院</a></li>
            <li><a href="http://www.nav80.com/" target="_blank">设计师导航</a></li>
            <li><a href="http://uxc.360.cn" target="_blank">360UXC</a></li>
            <li><a href="http://cued.xunlei.com/" target="_blank">迅雷CUED</a></li>
            <li><a href="http://www.zhaopins.com/" target="_blank">产品经理招聘</a></li>
            <li><a href="http://www.yanj.cn" target="_blank">演界网PPT模板</a></li>
            <li><a href="http://www.lagou.com/" target="_blank">拉勾网</a></li>
            <li><a href="http://www.tuicool.com" target="_blank">推酷</a></li>
            <li><a href="http://djt.qq.com/" target="_blank">腾讯大讲堂</a></li>
            <li><a href="http://www.9miao.com/" target="_blank">9秒社团</a></li>
            <li><a href="http://www.zbj.com/" target="_blank">猪八戒网</a></li>
            <li><a href="http://www.paidai.com/" target="_blank">派代网</a></li>
            <li><a href="http://www.boxui.com/" target="_blank">盒子UI</a></li>
            <li><a href="http://www.code4app.com/" target="_blank">Code4App</a></li>
            <li><a href="http://waimaoquan.alibaba.com/" target="_blank">外贸圈</a></li>
            <li><a href="http://www.eventdove.com" target="_blank">会鸽</a></li>
            <li><a href="http://www.shichangbu.com" target="_blank">市场部网</a></li>
            <li><a href="http://www.uimaker.com" target="_blank">UI设计</a></li>
            <li><a href="http://www.25xt.com" target="_blank">25学堂</a></li>
            <li><a href="http://www.jiguang.cn" target="_blank">极光推送</a></li>
            <li><a href="http://www.yixieshi.com/" target="_blank">互联网的一些事</a></li>
            <li><a href="http://www.cjol.com/" target="_blank">找工作</a></li>
            <li><a href="http://www.iyiou.com/" target="_blank">亿欧网</a></li>
            <li><a href="http://www.tvhome.com/" target="_blank">电视之家</a></li>
            <li><a href="http://www.investide.cn" target="_blank">投资潮</a></li>
            <li><a href="http://www.apkbus.com" target="_blank">安卓巴士</a></li>
            <li><a href="http://www.huoban.com" target="_blank">伙伴云表格</a></li>
            <li><a href="http://www.xueui.cn/?woshipm" title="学UI网" target="_blank">学UI网</a></li>
            <li><a href="http://xg.qq.com/" target="_blank">腾讯信鸽</a></li>
            <li><a href="http://mta.qq.com/" target="_blank">腾讯移动分析</a></li>
            <li><a href="http://yaq.qq.com?woshipm" target="_blank">腾讯御安全</a></li>
            <li><a href="https://yunxin.163.com/" target="_blank">网易云信</a></li>
            <li><a href="https://dun.163.com/" target="_blank">网易易盾</a></li>
        </ul>
    </div>
</div>
<div class="site-footer">
    <div class="container">
        <section class="info-section">
            <div class="footer-title">关于</div>
            人人都是产品经理（woshipm.com）是以产品经理、运营为核心的学习、交流、分享平台，集媒体、培训、社群为一体，全方位服务产品人和运营人，成立8年举办在线讲座500+期，线下分享会300+场，产品经理大会、运营大会20+场，覆盖北上广深杭成都等15个城市，在行业有较高的影响力和知名度。平台聚集了众多BAT美团京东滴滴360小米网易等知名互联网公司产品总监和运营总监，他们在这里与你一起成长。
        </section>
        <section class="link-section">
            <div class="footer-title">链接</div>
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.lagou.com/gongsi/318344.html" target="_blank">加入我们</a></li>
                    <li><a href="/it/1010671.html" target="_blank">投稿须知</a></li>
                    <li><a href="https://wen.woshipm.com/question/detail/omkf.html" target="_blank">意见反馈</a></li>
                    <li><a href="/disclaimer" target="_blank">免责声明</a></li>
                </ul>
            </nav>
        </section>
        <section class="partner-section">
            <div class="footer-title">合作伙伴</div>
            <ul class="blue-pic-ul">
                <li><a href="https://www.qidianla.com?woshipm" title="起点学院" target="_blank"><img
                            src="http://image.woshipm.com/wp-files/2017/09/qidian.png" alt="起点学院" title="起点学院"></a></li>
                <li><a href="http://www.cyzone.cn/?woshipm" title="创业邦" target="_blank"><img
                            src="http://image.woshipm.com/wp-files/2019/01/s99dragqAZYcQyaoKEQn.png" alt="创业邦"
                            title="创业邦"></a></li>
                <li><a href="http://ke.qq.com/?from=95" target="_blank"><img
                            src="http://image.woshipm.com/wp-files/2017/09/6-1.png" alt="腾讯课堂"></a></li>
                <li><a href="http://www.geetest.com/?woshipm" target="_blank"><img
                            src="http://image.woshipm.com/wp-files/2017/09/3-3.png" alt="极验验证"></a></li>
                <li><a href="http://www.zhisheji.com/?woshipm" title="致设计" target="_blank"><img
                            src="http://image.woshipm.com/wp-files/2017/09/4-2.png" alt="致设计" title="致设计"></a></li>
                <li><a href="https://www.yunyingpai.com?woshipm" title="运营派" target="_blank"><img
                            src="http://image.woshipm.com/wp-files/2017/09/运营派.png" alt="运营派" title="运营派"></a></li>
            </ul>
        </section>
        <section class="qr-section" style="margin-left: auto;">
            <div class="footer-title">APP下载</div>
            <img src="http://image.woshipm.com/wp-files/2017/09/rpPRjFM56semOSrrJuWf.png">
            <p>iPhone &amp; Android</p>
        </section>
    </div>
</div>
<div class="copyright">
    <div class="container">
        <div class="footer-cr">旗下品牌: <a target="_blank" href="https://www.qidianla.com/">起点学院</a> | <a target="_blank"
                href="https://www.yunyingpai.com/">运营派</a> | <a target="_blank" href="http://www.zhaopins.com/">秒聘网</a>
            <br>
            ©2010-2019 - 人人都是产品经理 - <a target="_blank" href="http://www.miibeian.gov.cn/">粤ICP备14037330号-1</a>-<a
                target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030502001309">粤公网安备
                44030502001309号</a>
            <br>
            <a target="_blank"
                href="http://image.woshipm.com/wp-files/2019/03/vR6mPdp9uXiiRjZedOBX.jpg">广播电视节目制作经营许可证（粤）字第03109号</a>
            版权所有 © 深圳聚力创想信息科技有限公司</div>
        <div class="footer-last">企业内训/课程咨询和合作: 18682011582<br>其他合作/投诉/意见反馈: 18123776760</div>
    </div>
</div>