<div class="site-footer">
    <div class="container">
        <section class="info-section">
            <div class="footer-title">关于</div>
            鑫融吧是以信用卡为核心的新互联网贷款理财个人金融平台。是各大银行的战略合作伙伴，网络核心发卡合作渠道。鑫融吧可以提供信用卡的在线申请服务，在线贷款服务，理财产品推荐。任何人都可以鑫融吧免费申请信用卡。还可以通过我们的平台获得到专业的信用卡，理财，金融等知识。数字经济时代,鑫融吧致力于成为您线上的信用卡贷款理财专业帮手。
        </section>
        <section class="link-section">
            <div class="footer-title">链接</div>
            <nav class="footer-nav">
                <ul>
                    <li><a href="">加入我们</a></li>
                    <li><a href="">投稿须知</a></li>
                    <li><a href="">意见反馈</a></li>
                    <li><a href="">免责声明</a></li>
                </ul>
            </nav>
        </section>
        <section class="partner-section">
            <div class="footer-title">合作伙伴</div>
            <ul class="blue-pic-ul">
                <li><a href="https://www.qidianla.com?woshipm" title="起点学院"><img src="http://image.woshipm.com/wp-files/2017/09/qidian.png" alt="起点学院" title="起点学院"></a></li>
                <li><a href="http://www.cyzone.cn/?woshipm" title="创业邦"><img src="http://image.woshipm.com/wp-files/2019/01/s99dragqAZYcQyaoKEQn.png" alt="创业邦" title="创业邦"></a></li>
                <li><a href="http://ke.qq.com/?from=95"><img src="http://image.woshipm.com/wp-files/2017/09/6-1.png" alt="腾讯课堂"></a></li>
                <li><a href="http://www.geetest.com/?woshipm"><img src="http://image.woshipm.com/wp-files/2017/09/3-3.png" alt="极验验证"></a></li>
                <li><a href="http://www.zhisheji.com/?woshipm" title="致设计"><img src="http://image.woshipm.com/wp-files/2017/09/4-2.png" alt="致设计" title="致设计"></a></li>
                <li><a href="https://www.yunyingpai.com?woshipm" title="运营派"><img src="http://image.woshipm.com/wp-files/2017/09/运营派.png" alt="运营派" title="运营派"></a></li>
            </ul>
        </section>
        <section class="qr-section" style="margin-left: auto;">
            <div class="footer-title">关注我们</div>
            <img src="./img/qrcode.png">
            <p>微信服务号</p>
        </section>
    </div>
</div>
<div class="copyright">
    <div class="container">
        <div class="footer-cr">
            核心栏目: <a href="">鑫融问答</a> | <a href="">卡库中心</a> | <a href="">在线办卡</a>
            <br>
            ©2019-2025 - 鑫融吧 - <a href="http://www.miibeian.gov.cn/">粤ICP备14037330号-1</a>
            <br>
            <a href="http://image.woshipm.com/wp-files/2019/03/vR6mPdp9uXiiRjZedOBX.jpg">广播电视节目制作经营许可证（粤）字第03109号</a>
            版权所有 © 杭州威爱貔网络科技有限公司</div>
    </div>
</div>