<div class="header">
    <div class="header-row-1">
        <div class="container">
            <a href="">收藏本站</a>
            <ul>
                <li><a href=""><i class="icon icon-house"></i>挖财</a></li>
                <li><a href="">基米</a></li>
                <li><a href="">信用卡</a></li>
                <li><a href="" class="download-app">应用下载</a></li>
                <li><a href="">钱堂社区</a></li>
                <li><a href="">帮助中心</a></li>
            </ul>
        </div>
    </div>
    <div class="header-row-2">
        <div class="container">
            <div class="header-logo"><img src="img/logo.png" alt=""></div>
            <ul class="header-nav">
                <li><a href="">首页</a></li>
                <li><a href="">视频</a></li>
                <li><a href="">卡库</a></li>
                <li><a href="">资讯</a></li>
                <li><a href="">帮助中心</a></li>
            </ul>
            <div class="header-user-menu">
                <a href="">登录</a>
                <a href="" class="header-register-btn">注册新用户</a>
            </div>
        </div>
    </div>
</div>