<div class="header">
    <div class="header-row-1">
        <div class="container">
            <a href="">收藏本站</a>
            <ul>
                <li><a href=""><i class="icon icon-house"></i>鑫融吧</a></li>
                <li><a href="">信用卡资讯</a></li>
                <li><a href="">理财课堂</a></li>
                <li><a href="">金融学堂</a></li>
                <li><a href="">问答频道</a></li>
                <li><a href="">帮助中心</a></li>
            </ul>
        </div>
    </div>
    <div class="header-row-2">
        <div class="container">
            <div class="header-logo"><img src="img/logo.png"></div>
            <ul class="header-nav">
                <li><a href="./index.html">首页</a></li>
                <li><a href="./videolist.html">信用卡资讯</a></li>
                <li><a href="./banklist.html">理财课堂</a></li>
                <li><a href="./newslist.html">金融学堂</a></li>
                <li><a href="./qa.html">问答频道</a></li>
            </ul>
            <div class="header-user-menu">
                <a href="" class="header-register-btn">免费办卡</a>
            </div>
        </div>
    </div>
</div>