<div class="m-layout-footer">
    <ul class="entry">
        <li><a href="https://web.u51.com/banka-index/index.html">办卡</a></li>
        <li><a href="#">贷款</a></li>
        <li><a href="https://m.u51.com/tool/ApplyProgress">工具</a></li>
        <li><a href="https://m.u51.com/product/guanjia">客户端</a></li>
        <li><a href="https://www.u51.com/credit/">网页版</a></li>
    </ul>
    <div class="friend-links"><label>友情链接：</label>
        <ul>
            <li><a href="https://credit.u51.com/" target="_blank" rel="nofollow">51信用卡社区</a></li>
            <li><a href="http://hangzhou.fangtoo.com/" target="_blank" rel="nofollow">杭州房产网</a></li>
            <li><a href="#" target="_blank">更多</a></li>
        </ul>
    </div>
    <div class="copyright">
        <p>Copyright©2019 51CreditCard lnc. All Rights Reserved. 浙ICP备</p>
        <p>浙ICP备15024985号</p>
        <p>浙公网安备33010602000633号</p>
        <ul>
            <li><img src="https://51nbimg.u51.com/bb36a737388840f39671e7b9aa40965a.png"></li>
            <li><img src="https://51nbimg.u51.com/f5f4c95d83cd4cfcb47ac6508a7871dc.png"></li>
            <li><img src="https://51nbimg.u51.com/6730a988863f4364a4aa146b12df53fa.png"></li>
        </ul>
    </div>
</div>
<ul class="bottom-nav" id="cd_Nav_top">
    <li><a href="//m.51credit.com" class="icon-home" onclick="_hmt.push(['_trackEvent', 'm', '首页点击', '底部导航'])">首页</a></li>
    <li><a href="//bbs.51credit.com/" class="icon-bbs" onclick="_hmt.push(['_trackEvent', 'm', '社区点击', '底部导航'])">社区</a></li>
    <li><a href="//m.51credit.com/mp/" class="icon-credit" onclick="_hmt.push(['_trackEvent', 'm', '信用卡点击', '底部导航'])">信用卡</a></li>
    <li><a href="//m.51credit.com/mp/loan" class="icon-loan" onclick="_hmt.push(['_trackEvent', 'm', '贷款点击', '底部导航'])">贷款</a></li>
    <li><a href="//m.51credit.com/mp/info/" class="icon-info" onclick="_hmt.push(['_trackEvent', 'm', '资讯点击', '底部导航'])">资讯</a></li>
</ul>