<div class="m-header">
    <div class="header-logo">
        <img src="./img/logo.png" alt="">
    </div>
    <div class="menu-bars" onclick="$('.menu-bars,.header-menu').toggleClass('active')"><i></i></div>
    <div class="header-menu">
        <div class="user-wrap" style="display: block;">
            <div class="information">
                <a href="/">资讯</a>
            </div>
            <ul class="subclass-ul">
                <li><a href="/channel/103.html" class="transition">电商消费</a></li>
                <li><a href="/channel/22.html" class="transition">娱乐淘金</a></li>
                <li><a href="/channel/21.html" class="transition">车与出行</a></li>
                <li><a href="/channel/104.html" class="transition">人工智能</a></li>
                <li><a href="/channel/106.html" class="transition">年轻一代</a></li>
                <li><a href="/channel/105.html" class="transition">智能终端</a></li>
                <li><a href="/channel/111.html" class="transition">医疗健康</a></li>
                <li><a href="/channel/102.html" class="transition">金融地产</a></li>
                <li><a href="/channel/110.html" class="transition">企业服务</a></li>
                <li><a href="/channel/2.html" class="transition">创业维艰</a></li>
                <li><a href="/channel/112.html" class="transition">社交通讯</a></li>
                <li><a href="/channel/107.html" class="transition">全球热点</a></li>
                <li><a href="/channel/4.html" class="transition">生活腔调</a></li>
            </ul>

            <ul class="navbar-nav-ul">
                <li>
                    <a class="js-open-app js-hmt-detection">24小时</a>
                </li>
                <li>
                    <div class="nums-nav nums-nav-active"></div>
                    <a class="js-hide-num-active" href="/active">活动</a>
                </li>
                <li><a href="/chuangye.html">创业板</a></li>
            </ul>
            <div class="vip-nav-content">
                <div class="title">
                    <a href="/vip">
                        虎嗅精选
                        <div class="pull-right time">
                            <i class="icon icon-right"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="user-face-wrap">
                <div class="text-center">
                    <a class="login-link c3 border-1px" href="/user/login">登录</a>
                    <a class="login-link b1 border-1px" href="/user/register">极速注册</a>
                </div>
            </div>
        </div>
    </div>
</div>